.admin_img_wrap{
    position: relative;
    width: 200px;
}
.benefit_img_wrap{
    position: relative;
    width: 70px;
}
.admin_img{
    width: 100%;
    height: auto;
}
.admin_img_btn{
    display: block;
    width: 16px;
    height: 16px;
    text-align: center;
    position: absolute;
    top: 5px;
    right: -25px;
    cursor: pointer;
}
.admin_img_btn i {
    color: darkred;
}
.formDelete{
    display: inline-block;
}
.green-icon {
    color: #00913b;
}
.pale-icon {
    color: #d8d8d8;
}
